@import "../../../variables.less";
.sectionfooter{
    .container{
        background-color: @dark-pink;
        display: flex;
        justify-content: space-around;
        height: 262px;
        padding-top: 60px;
        .flexable{
            display: flex;
            width: 25%;
            .div1{
                width: 45%;
            }
        }
       .div4{
        display: flex;
        flex-direction: column;
       
       }
       .div3{
        p{
            padding-left: 90px;
        }
       }
       p{
        font-family: ArnoProRegular;
        font-size: 17px;
        line-height: 20px;
        font-weight: 600;
        padding-top: 25px;
        span{
            font-size: Mondia;
            font-weight: 400;
            font-size: 15px;
            line-height: 15px;
            padding-left: 2vmin;
        }
       }
       img{
        height: 25px;
        margin-top: 18px;
       }
    }
    .containertwo{
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
        padding-bottom: 20px;
        .pend1{
            width: 26%;
            padding-top: 30px;
        }
        .pend2{
            text-align: end;
            width: 25%;
            padding-top: 30px;
        }
    }
}