.sectionfooter .container {
  background-color: #e7d2bb;
  display: flex;
  justify-content: space-between;
  gap: 10vmin;
  flex-wrap: wrap;
  padding: 7vmin;
}
.sectionfooter .container .flexable {
  width: 100%;
  display: flex;
  gap: 11vmin;
  justify-content: space-between;
}
.sectionfooter .container .flexable div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.sectionfooter .container .flexable div a * {
  transition: color 0.3s;
}
.sectionfooter .container .flexable div a.active *,
.sectionfooter .container .flexable div a:hover * {
  color: #974d24;
}
.sectionfooter .container .div4,
.sectionfooter .container .div3 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.sectionfooter .container .div4 {
  flex-direction: row;
}
.sectionfooter .container p {
  font-family: ArnoProRegular;
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
}
.sectionfooter .container p span {
  font-size: Mondia;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
}
.sectionfooter .container img {
  height: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.sectionfooter .container img:hover {
  transform: scale(1.1);
}
.sectionfooter .containertwo {
  display: flex;
  justify-content: space-around;
  padding: 3vmin 7vmin;
}
.sectionfooter .containertwo .pend1 {
  width: 26%;
}
.sectionfooter .containertwo .pend2 {
  text-align: end;
  width: 25%;
}
@media (min-width: 740px) {
  .sectionfooter .container .flexable {
    width: 27%;
  }
}
@media (min-width: 980px) {
  .sectionfooter .container .div4 {
    flex-direction: column;
  }
}
