@import "../../../utils/variables.less";
.map-main {
  position: relative;

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: @brown;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: @black;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }

  .page-info-nav {
    position: absolute;
    display: flex;
    left: 2rem;
    top: @page-top-bottom-padding;
    * {
      font-family: Legan;
    }
    a {
      h4 {
        color: @bordo-color;
      }
    }
    span {
      text-transform: capitalize;
      color: #bebbbb;
    }
  }
  .map-container {
    display: flex;
    margin-top: 6vmin;
    justify-content: center;
    padding-bottom: 20vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    .map-flex1 {
      width: 80%;
      height: 150px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      gap: 4vmin;
      border-bottom: 1px solid @dark-pink;
      border-top: 1px solid @dark-pink;
      .slide {
        margin-right: 0.9rem;

        border-bottom: 1px solid @dark-pink;
        padding: 1rem 0;
      }
    }
    .map-flex2 {
      width: 80%;
      iframe {
        height: 300px;
      }
    }
  }

  .map-h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: @brown;
    padding-top: 80px;
  }
  .map-btn {
    border: none;
    margin: 0;
    padding: 0;
    display: block;
    margin-left: auto;
    text-decoration: underline;
    &:hover {
      background: none;
      color: @black;
    }
  }
}
@media (min-width: 720px) {
  .map-main {
    .map-container {
      flex-direction: row;
      .map-flex1 {
        width: 25%;
        height: 500px;
      }
      .map-flex2 {
        width: 50%;
        iframe {
          height: 500px;
        }
      }
    }
  }
}
