.about {
  background-image: url("../../../images/home/aboutbackimg.svg");
  background-position: bottom left;
  background-size: contain;
}
.about .container {
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
}
.about .container .flex1 {
  width: 26%;
}
.about .container .flex1 h2 {
  padding-top: 0;
  font-family: ArnoProRegular;
  font-weight: 400;
  font-size: 55px;
  line-height: 66px;
  text-align: center;
  color: #974d24;
}
.about .container .flex1 .text1 {
  font-family: ArnoProRegular;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}
.about .container .flex1 .text2 {
  margin-top: 10px;
  color: #130F02;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
.about .container .flex1 button {
  display: block;
  margin: 80px auto;
  width: 46%;
  height: 40px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #974d24;
  border-radius: 5px;
  border: 1px solid #974d24;
  background-color: #f4e5d4;
  transition: 0.5s ease-in-out;
}
.about .container .flex1 button:hover {
  color: #fff;
  background-color: #974d24;
  cursor: pointer;
}
.about .container .flex2 {
  width: 32%;
  position: relative;
}
.about .container .flex2::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: red;
  background: url("../../../images/home/winesabout.svg") 0 0 no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  animation: aboutImgAnimation 3s 4s alternate-reverse infinite;
}
@keyframes aboutImgAnimation {
  100% {
    background: url("../../../images/home/aboutanimationimg.png") 0 0 no-repeat;
    background-position: center;
    background-size: contain;
  }
}
