.products-home {
  margin: 4rem 0;
}
.products-home .text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.3rem;
  margin: 1rem 0;
}
.products-home .text-wrapper h3 {
  font-size: 1.4rem;
}
.products-home .swiper-slide img {
  height: 22rem;
  width: max-content;
  object-fit: contain;
  margin: 0 auto;
  padding-top: 3vmin;
}
.products-home .swiper {
  width: 100%;
  height: 100%;
}
.products-home .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1440px) {
  .products-home .text-wrapper {
    visibility: hidden;
  }
  .products-home .swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-next + div .text-wrapper {
    visibility: visible;
  }
}
