@import "../../../utils/variables.less";
.brends {
  margin: 4rem 0;
  // all important styles
  .brendscontainer {
    position: relative;

    // styled this[height: 100vmin;] for main content's left and right absolute position ability in the jsx file
    // if we don't add this height will be effect main content, otherwise that will be destroy ru and az wines info page's responsive height too
    /* height: 100vmin; */

    // left and right common styles:
    .left,
    .right {
      position: relative;
      display: inline-block;
      height: 55vmin;
      transition: transform 0.4s; /* Animation */
      &:hover {
        transform: scale(1.01);
      }
      .text-wrapper {
        position: absolute;
        color: white;
        width: min-content;
        display: flex;
        flex-direction: column;
        h2 {
          font-size: 1.7rem;
          line-height: normal;
          color: #fff;
          position: relative;
          text-transform: uppercase;
        }
        button {
          margin: unset;
        }
      }
      img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    // right's custom styles:
    .right {
      position: absolute;
      left: 10%;
      width: 80%;
      height: 70%;
      clip-path: polygon(100% 5%, 5% 100%, 100% 100%);
      .text-wrapper {
        bottom: 4vmin;
        right: 4vmin;
        align-items: flex-end;
        * {
          text-align: right;
          align-self: flex-end;
        }
      }
    }
    // left's custom styles:
    .left {
      position: absolute;
      left: 10%;
      width: 82%;
      height: 85%;
      z-index: 1;
      clip-path: polygon(95% 0, 0 80%, 0 0);
      .text-wrapper {
        top: 4vmin;
        left: 4vmin;
        * {
          text-align: left;
          align-self: flex-start;
        }
      }
    }
    // /* showing Nexts 'more info' page styles: */
    // Russian wine info page and~
    // Azeri wine info page~
    // * common styles:
    .img1,
    .img2 {
      padding: 0 @page-left-right-paddings 2vmin;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: max-height 0.5s;
      max-height: 0;
      overflow: hidden;
      animation: homeWineInfoPageAnimation 1s linear forwards;
      .divflex1 {
        width: 100%;
        background-color: #fff;
        padding: @page-left-right-paddings;
        h2 {
          text-align: right;
          font-size: 2.5rem;
        }
        p {
          text-align: justify;
        }
        h3.button {
          background: none;
          color: #505050;
          border: none;
          padding-left: 5px;
          width: max-content;
          transition: 0.5s ease-in-out;
          margin: -@page-left-right-paddings -@page-left-right-paddings auto;
          &:hover {
            background-color: red;
            padding: 0 55px 0 5px;
            border-radius: 0 0 25px 0;
            cursor: pointer;
          }
        }
      }
      .divflex2 {
        width: 100%;
        .imgru,
        .imgaz {
          height: 50vmin;
          width: 100%;
          object-fit: cover;
          object-position: 0 20%;
        }
      }
    }
  }
}

@keyframes homeWineInfoPageAnimation {
  100% {
    max-height: 100rem;
  }
}
@media (min-width: 900px) {
  .brends {
    // all important styles
    .brendscontainer {
      // /* showing Nexts 'more info' page styles: */
      // Russian wine info page and~
      // Azeri wine info page~
      // * common styles:
      .img1,
      .img2 {
        flex-direction: row;
        height: min-content;
        .divflex1 {
          height: min-content;
        }
        .divflex2 {
          position: relative;
          .imgru,
          .imgaz {
            width: 100%;
            position: absolute;
            left: 0;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
}
@media (min-width: 1440px) {
  .brends {
    // all important styles
    .brendscontainer {
      display: flex;
      margin: 0 auto;
      // right's custom styles:
      .right {
        left: 18%;
        width: 65%;
      }
      // left's custom styles:
      .left {
        left: 18%;
        width: 66%;
      }
    }
  }
}
