@import "../../../variables.less";
h2{
    font-family: ArnoProRegular;
    font-weight: 400;
    font-size: 55px;
    line-height: 66px;
    color: @brown;
    text-align: center;
}
.brendscontainer{
    .right{

        h2{
            color: #fff;
         }
    }
    .left{

        h2{
            color: #fff;
         }
    }
}