.brends {
  padding-top: 10vmin;
}
.brends h2 {
  font-family: ArnoProRegular;
  font-weight: 400;
  font-size: 55px;
  line-height: 66px;
  color: #974d24;
  text-align: center;
}
.brends .brendscontainer {
  position: relative;
  margin-bottom: 10vmin;
  /* height: 100vmin; */
}
.brends .brendscontainer .left,
.brends .brendscontainer .right {
  position: relative;
  display: inline-block;
  height: 55vmin;
  transition: transform 0.4s;
  /* Animation */
}
.brends .brendscontainer .left:hover,
.brends .brendscontainer .right:hover {
  transform: scale(1.01);
}
.brends .brendscontainer .left .text-wrapper,
.brends .brendscontainer .right .text-wrapper {
  position: absolute;
  color: white;
  width: min-content;
}
.brends .brendscontainer .left .text-wrapper h2,
.brends .brendscontainer .right .text-wrapper h2 {
  font-size: 2.3rem;
  width: 50%;
  line-height: normal;
  color: #fff;
  position: relative;
}
.brends .brendscontainer .left img,
.brends .brendscontainer .right img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.brends .brendscontainer .right {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 70%;
  clip-path: polygon(100% 5%, 5% 100%, 100% 100%);
}
.brends .brendscontainer .right .text-wrapper {
  bottom: 4vmin;
  right: 4vmin;
}
.brends .brendscontainer .right .text-wrapper h2 {
  text-align: end;
}
.brends .brendscontainer .left {
  position: absolute;
  left: 10%;
  width: 82%;
  height: 85%;
  z-index: 1;
  clip-path: polygon(95% 0, 0 80%, 0 0);
}
.brends .brendscontainer .left .text-wrapper {
  top: 4vmin;
  left: 4vmin;
}
.brends .brendscontainer .left .text-wrapper h2 {
  text-align: start;
  padding-top: 0;
}
.brends .brendscontainer .img1,
.brends .brendscontainer .img2 {
  padding: 0 7vmin 2vmin;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: max-height 0.5s;
  max-height: 0;
  overflow: hidden;
  animation: homeWineInfoPageAnimation 1s linear forwards;
}
.brends .brendscontainer .img1 .divflex1,
.brends .brendscontainer .img2 .divflex1 {
  width: 100%;
  background-color: #fff;
}
.brends .brendscontainer .img1 .divflex1 h3.button,
.brends .brendscontainer .img2 .divflex1 h3.button {
  background: none;
  color: #505050;
  border: none;
  padding-left: 5px;
  width: max-content;
  transition: 0.5s ease-in-out;
}
.brends .brendscontainer .img1 .divflex1 h3.button:hover,
.brends .brendscontainer .img2 .divflex1 h3.button:hover {
  background-color: red;
  padding: 0 55px 0 5px;
  border-radius: 0 0 25px 0;
  cursor: pointer;
}
.brends .brendscontainer .img1 .divflex1 h2,
.brends .brendscontainer .img2 .divflex1 h2 {
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  font-family: ArnoProRegular;
  color: #974d24;
  padding: 5vmin 5vmin 0;
  text-align: right;
}
.brends .brendscontainer .img1 .divflex1 p,
.brends .brendscontainer .img2 .divflex1 p {
  padding: 4vmin 5vmin 7vmin;
  text-align: justify;
  color: #505050;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.brends .brendscontainer .img1 .divflex2,
.brends .brendscontainer .img2 .divflex2 {
  width: 100%;
}
.brends .brendscontainer .img1 .divflex2 .imgru,
.brends .brendscontainer .img2 .divflex2 .imgru,
.brends .brendscontainer .img1 .divflex2 .imgaz,
.brends .brendscontainer .img2 .divflex2 .imgaz {
  height: 50vmin;
  width: 100%;
  object-fit: cover;
  object-position: 0 20%;
}
@keyframes homeWineInfoPageAnimation {
  100% {
    max-height: 250vmin;
  }
}
@media (min-width: 900px) {
  .brends .brendscontainer .img1,
  .brends .brendscontainer .img2 {
    flex-direction: row;
    height: min-content;
  }
  .brends .brendscontainer .img1 .divflex1,
  .brends .brendscontainer .img2 .divflex1 {
    height: min-content;
  }
  .brends .brendscontainer .img1 .divflex2,
  .brends .brendscontainer .img2 .divflex2 {
    position: relative;
  }
  .brends .brendscontainer .img1 .divflex2 .imgru,
  .brends .brendscontainer .img2 .divflex2 .imgru,
  .brends .brendscontainer .img1 .divflex2 .imgaz,
  .brends .brendscontainer .img2 .divflex2 .imgaz {
    width: 100%;
    position: absolute;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
@media (min-width: 1440px) {
  .brends .brendscontainer {
    display: flex;
    margin: 0 auto;
  }
  .brends .brendscontainer .right {
    left: 18%;
    width: 65%;
  }
  .brends .brendscontainer .left {
    left: 18%;
    width: 66%;
  }
}
