.header-h2 {
  text-align: center;
  padding-top: 200px;
  font-weight: 400;
  font-family: ArnoProRegular;
  font-size: 80px;
  line-height: 78px;
  color: #fff;
}
.header-products {
  background-image: url("../../../images/home/productsbackimg.png");
  height: 425px;
  background-size: cover;
}
