.all-products-sections .product {
  text-align: center;
  width: 250px;
  border: 1px solid #e7d2bb;
  padding-top: 4vmin;
  padding-bottom: 2vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}
.all-products-sections .product img {
  width: 5rem;
}
.all-products-sections .product h3 {
  font-size: 1.2rem;
}
.all-products-sections .product .content-container {
  width: 100%;
  padding: 0 2vmin;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  height: 100%;
  justify-content: space-between;
}
.all-products-sections .product .content-container button {
  padding: 0.5vmin !important;
  width: 70%;
  margin-bottom: 1rem;
}
.all-products-sections .products-main {
  position: relative;
}
.all-products-sections .products-main .products-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.all-products-sections .products-main .products-filter {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
  margin-bottom: 7rem;
}
.all-products-sections .products-main .categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #e7d2bb;
  padding: 1.5rem;
  margin-top: 3rem;
}
.all-products-sections .products-main .cat-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4vmin;
  flex-wrap: wrap;
  border-bottom: 1px solid #e7d2bb;
  padding: 0 0 2vmin;
}
.all-products-sections .products-main .cat-div h3 {
  font-size: 1.5rem;
  color: #4c192a;
  font-weight: 400;
}
.all-products-sections .products-main .cat-div .clean-btn {
  padding: 0;
  background: none;
  height: unset;
  border: none;
  color: #4c192a;
  text-align: end;
  text-decoration: underline;
  font-size: 1.2rem;
  margin: 0 !important;
  padding: 0 !important;
}
.all-products-sections .products-main .cat-div .clean-btn:hover {
  background: none;
  color: red;
}
.all-products-sections .products-main .headp {
  padding: 2vmin 0;
  color: #4c192a;
}
.all-products-sections .products-main label {
  margin: 2px 0;
  color: #4c192a;
}
.all-products-sections .products-main label span.checkbox-container {
  position: relative;
  margin-right: 4px;
  cursor: pointer;
}
.all-products-sections .products-main label span.checkbox-container input[type="checkbox"] {
  margin-right: 7px;
  visibility: hidden;
}
.all-products-sections .products-main label span.checkbox-container input[type="checkbox"]:checked + span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../../../images/home/wine5.png") center 0 no-repeat;
  background-size: contain;
}
.all-products-sections .products-main label span.checkbox-container::before {
  content: "";
  position: absolute;
  border: 1.2px solid #4c192a;
  width: 90%;
  height: 90%;
  left: 0;
  top: 0;
}
.all-products-sections section {
  padding: 7vmin;
}
.all-products-sections section .container-clicked {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 0;
}
.all-products-sections section .back-imgClicked {
  position: relative;
  width: 50%;
  text-align: center;
}
.all-products-sections section .back-imgClicked img {
  height: 20rem;
  z-index: 1;
  position: relative;
}
.all-products-sections section .back-imgClicked::after {
  content: "";
  width: 100%;
  height: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../../images/home/backimgwine.png") center center no-repeat;
  background-size: contain;
}
.all-products-sections section .flex-product {
  width: 50%;
  padding: 7vmin;
}
.all-products-sections section .flex-product .product-h3 {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0em;
  text-align: left;
  color: #974d24;
}
.all-products-sections section .flex-product .product-p {
  color: #4c192a;
  padding: 0.4rem 0 1rem;
}
.all-products-sections section .flex-product .product-h4 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #974d24;
}
.all-products-sections section .flex-product .product-hr {
  border: 1px solid #e7d2bb;
}
.all-products-sections section .flex-product .wolt {
  margin-left: -4vmin;
}
.all-products-sections section .container-product {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border: 1px solid #e7d2bb;
  width: 90%;
  margin: 10vmin auto 25vmin;
}
.all-products-sections section .container-product .composition {
  border-right: 1px solid #e7d2bb;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 3vmin;
  gap: 0.7rem;
}
.all-products-sections section .container-product .composition h4 {
  font-size: 1.2rem;
  color: #974d24;
  font-weight: 400;
  margin-top: 1rem;
}
.all-products-sections section .container-product .composition .composition-img {
  height: 4rem;
  object-fit: contain;
}
.all-products-sections section .container-product .composition .product-p2 {
  padding-bottom: 4vmin;
}
.all-products-sections section .product-h32 {
  font-family: ArnoProRegular;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  color: #974d24;
}
.all-products-sections section .container-flex-products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1rem 0 4rem;
}
.all-products-sections section .container-flex-products .product {
  border: none;
  width: 17rem;
  margin-top: 0;
}
.all-products-sections section .container-flex-products .product img {
  width: 5rem;
}
@media (min-width: 934px) {
  .all-products-sections .products-main .products-container {
    flex-direction: row;
    align-items: self-start;
    justify-content: center;
  }
  .all-products-sections .products-main .products-container .categories {
    width: 30%;
  }
  .all-products-sections .products-main .products-container .products-filter {
    margin-top: 3rem;
  }
}
@media (max-width: 1000px) {
  .all-products-sections section .flex-product {
    width: 100%;
  }
  .all-products-sections section .container-clicked {
    flex-direction: column-reverse;
  }
  .all-products-sections section .back-imgClicked {
    margin: 0 auto;
  }
  .all-products-sections section .back-imgClicked::before {
    width: 280px;
    top: 80%;
  }
  .all-products-sections section .container-product {
    flex-wrap: wrap;
  }
  .all-products-sections section .container-product .composition {
    width: 20rem;
    border-right: none;
    border-bottom: 1px solid #e7d2bb;
  }
}
