.all-products-sections .product {
  text-align: center;
  width: 280px;
  border: 1px solid #e7d2bb;
  padding-top: 4vmin;
  padding-bottom: 2vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.all-products-sections .product img {
  width: 5rem;
}
.all-products-sections .product .content-container button {
  margin: 1rem auto;
}
.all-products-sections .products-main .page-info-nav {
  margin-top: 5rem;
  margin-left: 5rem;
  display: flex;
}
.all-products-sections .products-main .page-info-nav h4 {
  color: #4c192a;
  cursor: pointer;
  word-wrap: nowrap;
  text-wrap: nowrap;
  transition: color 0.5s;
}
.all-products-sections .products-main .page-info-nav h4:hover {
  color: #974d24;
}
.all-products-sections .products-main .page-info-nav span {
  text-transform: capitalize;
  color: #bebbbb;
}
.all-products-sections .products-main .products-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-top: 14vmin;
  align-items: center;
  padding: 7vmin;
}
.products-container input[type="checkbox"] {
  filter: sepia(100%) brightness(80%) hue-rotate(170deg) saturate(70%) contrast(300%);
}
.all-products-sections .products-main .products-filter {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
}
.all-products-sections .products-main .categories {
  display: flex;
  flex-direction: column;
  width: 60%;
  border: 1px solid #e7d2bb;
  padding: 1.5rem;
}
.all-products-sections .products-main .cat-div {
  display: flex;
  justify-content: space-between;
  gap: 4vmin;
  flex-wrap: wrap;
  border-bottom: 1px solid #e7d2bb;
  padding: 0 0 2vmin;
}
.all-products-sections .products-main .clean-btn {
  padding: 0;
  background: none;
  height: unset;
  border: none;
  color: #313131;
  text-align: end;
  text-decoration: underline;
}
.all-products-sections .products-main .clean-btn:hover {
  background: none;
  color: red;
}
.all-products-sections .products-main .headp {
  padding: 2vmin 0;
}
.all-products-sections .products-main label {
  margin: 2px 0;
}
.all-products-sections .products-main label span.checkbox-container {
  position: relative;
  margin-right: 4px;
  cursor: pointer;
}
.all-products-sections .products-main label span.checkbox-container input[type="checkbox"] {
  margin-right: 7px;
  visibility: hidden;
}
.all-products-sections .products-main label span.checkbox-container input[type="checkbox"]:checked + span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../../../images/home/wine5.png") center 0 no-repeat;
  background-size: contain;
}
.all-products-sections .products-main label span.checkbox-container::before {
  content: "";
  position: absolute;
  border: 1.2px solid #4c192a;
  width: 90%;
  height: 90%;
  left: 0;
  top: 0;
}
.all-products-sections section .container-clicked {
  display: flex;
  justify-content: space-around;
  margin-top: 15vmin;
}
.all-products-sections section .back-imgClicked {
  position: relative;
  width: 40vmin;
  display: flex;
  justify-content: center;
}
.all-products-sections section .back-imgClicked::before {
  content: "";
  width: 400px;
  background: url("../../../images/home/backimgwine.png") 0 0 no-repeat;
  background-size: contain;
  height: 30rem;
  position: absolute;
  top: 60%;
  left: 50%;
  translate: -50% -50%;
}
.all-products-sections section .back-imgClicked img {
  z-index: 1;
}
.all-products-sections section .flex-product {
  width: 50%;
}
.all-products-sections section .flex-product .product-h3 {
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  font-family: ArnoProRegular;
  color: #974d24;
}
.all-products-sections section .flex-product .product-p {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #4c192a;
  padding-bottom: 2vmin;
  width: 60%;
}
.all-products-sections section .flex-product .product-h4 {
  font-family: ArnoProRegular;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #974d24;
  padding-top: 0;
  padding-top: 2vmin;
}
.all-products-sections section .flex-product .product-hr {
  border: 1px solid #e7d2bb;
}
.all-products-sections section .flex-product .wolt {
  margin-left: -4vmin;
}
.all-products-sections section .container-product {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border: 1px solid #e7d2bb;
  width: 90%;
  margin: 25vmin auto;
}
.all-products-sections section .container-product .composition {
  border-right: 1px solid #e7d2bb;
  width: 25%;
}
.all-products-sections section .container-product .composition .product-h42 {
  font-family: ArnoProRegular;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #974d24;
  padding-top: 0;
  padding-top: 2vmin;
  text-align: center;
}
.all-products-sections section .container-product .composition .product-h43 {
  font-family: ArnoProRegular;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #974d24;
  padding-top: 4vmin;
  text-align: center;
}
.all-products-sections section .container-product .composition .composition-img {
  margin-top: 2vmin;
}
.all-products-sections section .container-product .composition .product-p2 {
  padding-bottom: 4vmin;
  padding-left: 2vmin;
  padding-right: 2vmin;
}
.all-products-sections section .product-h32 {
  font-family: ArnoProRegular;
  font-size: 55px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: center;
  color: #974d24;
}
.all-products-sections section .container-flex-products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 15vmin;
}
.all-products-sections section .container-flex-products .product {
  border: none;
  width: 17rem;
}
@media (min-width: 934px) {
  .all-products-sections .products-main .products-container {
    flex-direction: row;
    align-items: self-start;
    justify-content: center;
  }
  .all-products-sections .products-main .products-container .categories {
    width: 30%;
  }
}
@media (max-width: 905px) {
  .all-products-sections section .flex-product {
    width: 100%;
    padding: 7vmin;
  }
  .all-products-sections section .flex-product .product-h3 {
    text-align: center;
  }
  .all-products-sections section .flex-product .product-h4 {
    text-align: center;
  }
  .all-products-sections section .flex-product .product-p {
    text-align: center;
    width: 100%;
  }
  .all-products-sections section .container-clicked {
    flex-direction: column-reverse;
  }
  .all-products-sections section .back-imgClicked {
    margin: 0 auto;
  }
  .all-products-sections section .back-imgClicked::before {
    width: 280px;
    top: 80%;
  }
  .all-products-sections section .container-product {
    flex-wrap: wrap;
  }
  .all-products-sections section .container-product .composition {
    width: 20rem;
    border-right: none;
    border-bottom: 1px solid #e7d2bb;
  }
}
