@import "../../../variables.less";
.nav{
    background-color: #030303;
    height: 90px;
    .container{
        display: flex;
        justify-content: space-around;
        img{
            margin-top: 15px;
        }
        .center{
            width: 50%;
            ul{
                display: flex;
                justify-content: space-around;
                li{
                    margin-top: 35px;
                    a{
                        color: #e4e4e4;
                    }
                }
                }
            }
        
        .right{
            display: flex;
            margin-top: -8px;
            img{
                margin-left: 3vmin;
            }
            .search-wrapper{
                display: flex;
                img{
                    margin-right: 25vmin;
                }
                input{
                    height: 40%;
                    
                }
            }
        }
    }
    
}