.ourwork {
  background-image: url("../../../images/home//barrelGif.gif");
  height: 653px;
  background-size: cover;
}
.ourwork div h2 {
  font-family: ArnoProRegular;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  color: #FAFAFD;
  width: 500px;
  padding-top: 27vmin;
  padding-left: 10vmin;
}
.ourwork div p {
  font-family: Legan;
  color: #FAFAFD;
  padding-left: 10vmin;
  width: 45%;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  padding-top: 3vmin;
}
.ourwork div button {
  height: 40px;
  width: 10%;
  margin-left: 10vmin;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  margin-top: 12vmin;
  transition: 0.5s ease-in-out;
}
.ourwork div button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
