.ourwork {
  background-image: url("../../../images/home/home-gif.gif");
  background-size: cover;
  padding: 7vmin;
}
.ourwork div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  margin: 9rem 0;
}
.ourwork div * {
  text-align: left;
}
.ourwork div h2 {
  font-family: ArnoProRegular;
  font-weight: 600;
  color: #fafafd;
  width: 100%;
}
.ourwork div p {
  color: #fafafd;
  font-weight: 400;
}
@media (max-width: 267px) {
  h2 {
    font-size: 2rem;
  }
}
