@import "../../../variables.less";
.ourwork{
    background-image: url("../../../images/home//barrelGif.gif");
    height: 653px;
    background-size:cover;
    
    
    div{
     
        h1{
            font-family: ArnoProRegular;
            font-weight: 600;
            font-size: 50px;
            line-height: 75px;
            color: @white;
            width: 500px;
            padding-top: 27vmin;
            padding-left: 10vmin;
        }
        p{
            font-family: Legan;
            color: @white;
            padding-left: 10vmin;
            width: 45%;
            font-weight: 400;
            font-size: 20px;
            line-height: 20px;
            padding-top: 3vmin;
        }
        button{
            height: 40px;
            width: 10%;
            margin-left: 10vmin;
            background-color: rgba(0, 0, 0, 0.5);
            color: #ffffff;
            margin-top: 12vmin;
            transition: 0.5s ease-in-out;
            &:hover{
                background-color: rgba(255, 255, 255, 0.5);
                cursor: pointer;
            }
        }
    }
}