@font-face {
  font-family: Mondia;
  src: url("../public/fonts/Nasir\ Udin\ -\ MondiaThin.otf");
}
@font-face {
  font-family: ArnoProRegular;
  src: url("../public/fonts/ArnoPro-Regular.otf");
}
@font-face {
  font-family: ArnoProBold;
  src: url("../public/fonts/ArnoPro-Bold.otf");
}
@font-face {
  font-family: Legan;
  src: url("../public/fonts/Legan.ttf");
}
* {
  font-family: Mondia;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #130f02;
}
html {
  font-size: 18px;
}
body.loader::before {
  content: "";
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
}
body.loader::after {
  content: "";
  height: 7rem;
  width: 7rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: url("images/page-loader-gif.gif") 0 0 no-repeat;
  background-size: contain;
}
.App {
  background-color: #f4e5d4;
}
button {
  display: block;
  padding: 0.5vmin 7vmin !important;
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0 auto;
  color: #974d24;
  border-radius: 5px;
  border: 1px solid #974d24;
  background-color: #f4e5d4;
  width: max-content;
}
button:hover {
  transition: 0.5s ease-in-out;
  color: #fff;
  background-color: #974d24;
  cursor: pointer;
}
button.black-bg {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fafafd;
  border: 1px solid #fafafd !important;
}
button.black-bg:hover {
  transition: 0.5s ease-in-out;
  background-color: rgba(162, 148, 148, 0.5);
}
button.transparent-bg {
  border: 1px solid #fafafd;
  background-color: rgba(110, 97, 97, 0.5);
  color: white;
}
button.transparent-bg:hover {
  transition: 0.5s ease-in-out;
  background-color: rgba(162, 148, 148, 0.5);
  cursor: pointer;
  color: #fff;
  box-shadow: 0 0 400px 500px #00000069;
}
h1,
h2,
h3,
h4 {
  font-family: ArnoProRegular;
}
h1 {
  font-size: 3.6rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 26.3vh 1rem;
}
h2 {
  font-weight: 400;
  font-size: 3.5rem;
  text-align: center;
  color: #974d24;
  text-transform: capitalize;
}
h3 {
  font-size: 1.7rem;
  font-weight: 600;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
  font-family: Legan;
}
.page-info-nav {
  position: absolute;
  display: flex;
  align-items: center;
  top: 3vmin;
  left: 1.5rem;
}
.page-info-nav * {
  font-family: Legan;
  font-size: 1rem;
}
.page-info-nav h4 {
  color: #4c192a;
  cursor: pointer;
  word-wrap: nowrap;
  text-wrap: nowrap;
  transition: color 0.5s;
}
.page-info-nav h4:hover {
  color: #974d24;
}
.page-info-nav span {
  text-transform: capitalize;
  color: #bebbbb;
}
@media (max-width: 470px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 233px) {
  html {
    font-size: 8px;
  }
}
