@import "./utils/variables.less";
@font-face {
  font-family: Mondia;
  src: url("../public/fonts/Nasir\ Udin\ -\ MondiaThin.otf");
}
@font-face {
  font-family: ArnoProRegular;
  src: url("../public/fonts/ArnoPro-Regular.otf");
}
@font-face {
  font-family: ArnoProBold;
  src: url("../public/fonts/ArnoPro-Bold.otf");
}
@font-face {
  font-family: Legan;
  src: url("../public/fonts/Legan.ttf");
}

::-webkit-scrollbar {
  width: 0;
}
* {
  font-family: Mondia;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: @black;
}
html {
  font-size: 18px;
}
body {
  &.loader {
    &::before {
      content: "";
      background-color: black;
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 9999;
    }
    &::after {
      content: "Loading";
      color: #fff;
      height: 7rem;
      width: 6rem;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 9999;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      background: url("./images/page-loader-gif.gif") 0 1.5rem no-repeat;
      background-size: contain;
      animation: loadingAnimation 1s infinite alternate-reverse linear;
    }
  }
}
@keyframes loadingAnimation {
  25% {
    content: "Loading";
  }
  50% {
    content: "Loading .";
  }
  75% {
    content: "Loading . .";
  }
  100% {
    content: "Loading . . .";
  }
}
.App {
  background-color: @pink;
}
// common styles:
button {
  display: block;
  padding: 0.5vmin 7vmin !important;
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0 auto;
  color: @brown;
  border-radius: 5px;
  border: 1px solid @brown;
  background-color: @pink;
  width: max-content;
  &:hover {
    transition: 0.5s ease-in-out;
    color: #fff;
    background-color: @brown;
    cursor: pointer;
  }
  &.black-bg {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fafafd;
    border: 1px solid #fafafd !important;
    &:hover {
      transition: 0.5s ease-in-out;
      background-color: rgba(162, 148, 148, 0.5);
    }
  }
  &.transparent-bg {
    border: 1px solid rgb(250, 250, 253);
    background-color: rgba(110, 97, 97, 0.5);
    color: white;
    &:hover {
      transition: 0.5s ease-in-out;
      background-color: rgba(162, 148, 148, 0.5);
      cursor: pointer;
      color: #fff;
      box-shadow: 0 0 400px 500px #00000069;
    }
  }
}
h1,
h2,
h3,
h4 {
  font-family: ArnoProRegular;
}
h1 {
  font-size: 3.6rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 26.3vh 1rem;
}
h2 {
  font-weight: 400;
  font-size: 3.5rem;
  text-align: center;
  color: @brown;
  text-transform: capitalize;
}

h3 {
  font-size: 1.7rem;
  font-weight: 600;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
  font-family: Legan;
}

.page-info-nav {
  position: absolute;
  display: flex;
  align-items: center;
  top: @page-top-bottom-padding;
  left: 1.5rem;
  * {
    font-family: Legan;
    font-size: 1rem;
  }
  h4 {
    color: #4c192a;
    cursor: pointer;
    word-wrap: nowrap;
    text-wrap: nowrap;
    transition: color 0.5s;
    &:hover {
      color: @brown;
    }
  }
  span {
    text-transform: capitalize;
    color: #bebbbb;
  }
}

@media (max-width: 470px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 233px) {
  html {
    font-size: 8px;
  }
}
